<div class="{{ bgcolor }} {{ textcolor }} nw-p-4 nw-rounded-md">
    <div class="nw-flex nw-items-top nw-mb-2">
        {{{ icon }}}
        <p class="nw-text-base nw-font-bold">{{{ title }}}</p>
    </div>
    <div class="nw-text-sm nw-font-medium">
        {{{ text }}}
    </div>
</div>
