<div class="nw-mx-0">
  <div
    class="
      nw-pt-12
      nw-pb-6
      nw-text-center
      nw-font-roboto
      nw-font-bold
      nw-text-black
      nw-text-2xl
      nw-tracking-normal
      nw-leading-5
      nw-uppercase
    "
  >
    Was gerade wichtig ist
  </div>
  <!-- grid -->
  <div
    class="
      nw-grid nw-grid-cols-1
      md:nw-grid-cols-3
      nw-gap-4 nw-pt-6 nw-flex nw-flex-col nw-flex-row nw-justify-between
    "
  >
    <!-- box1 -->
    <div class="nw-bg-white nw-rounded-md">
      <!-- Head -->
      <div class="nw-w-full nw-relative">
        <div
          class="
            nw-w-full
            nw-h-full
            nw-bg-gray-600
            nw-top-0
            nw-left-0
            nw-absolute
            nw-opacity-80
            nw-rounded-md
          "
        ></div>
        <div
          class="
            nw-w-full
            nw-h-full
            nw-flex
            nw-flex-col
            nw-absolute
            nw-top-0
            nw-left-0
            nw-justify-center
            nw-items-center
            nw-z-30
          "
        >
          <div
            class="
              nw-text-tiny
              nw-font-medium
              nw-font-roboto
              nw-tracking-normal
              nw-uppercase
              nw-text-gray-200
            "
          >
            Thema
          </div>
          <div
            class="
              nw-text-base
              nw-tracking-normal
              nw-font-roboto
              nw-font-bold
              nw-text-white
            "
          >
            Die Russische Invasion
          </div>
        </div>
        <img
          class="nw-rounded-t-md nw-object-cover nw-w-96 nw-h-24"
          src="{{image-src-s}}"
        />
      </div>
      <!-- Head Ende -->
      <!-- Liste 1 -->
      <div class="nw-block">
        <div>
          <ul class="nw-m-2 nw-block">
            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Corona-Maßnahmen: So verschärfen die Ampel-Partner ihre
                  Gesetzespläne
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Bielefelder Intensivpfleger spricht offen von Triage in den
                  Kliniken
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Corona-Krise Inzidenz Bielefeld: Aktuelle Corona-Zahlen für
                  Montag
                </span>
              </a>
            </li>
            <li>
              <a
                href=""
                class="
                  nw-pt-2
                  nw-flex
                  nw-font-roboto
                  nw-text-gray-600
                  nw-font-bold
                  nw-tracking-normal
                  nw-place-content-center
                "
              >
                Mehr zum Thema
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="nw-cursor-pointer nw-text-gray-600 nw-pl-1"
                  width="30"
                  height="25"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Liste1 Ende -->
    </div>
    <!-- box1 Ende -->
    <!-- box2 -->
    <div class="nw-bg-white nw-rounded-md">
      <!-- Head -->
      <div class="nw-w-full nw-relative">
        <div
          class="
            nw-w-full
            nw-h-full
            nw-bg-gray-600
            nw-top-0
            nw-left-0
            nw-absolute
            nw-opacity-80
            nw-rounded-md
          "
        ></div>
        <div
          class="
            nw-w-full
            nw-h-full
            nw-flex
            nw-flex-col
            nw-absolute
            nw-top-0
            nw-left-0
            nw-justify-center
            nw-items-center
            nw-z-30
          "
        >
          <div
            class="
              nw-text-tiny
              nw-font-medium
              nw-font-roboto
              nw-tracking-normal
              nw-uppercase
              nw-text-gray-200
            "
          >
            Thema
          </div>
          <div
            class="
              nw-text-base
              nw-tracking-normal
              nw-font-roboto
              nw-font-bold
              nw-text-white
            "
          >
            Corona Deutschland 2022
          </div>
        </div>
        <img
          class="nw-rounded-t-md nw-object-cover nw-w-96 nw-h-24"
          src="{{image-src-s}}"
        />
      </div>
      <!-- Head Ende -->
      <!-- Liste 2-->
      <div class="nw-block">
        <div>
          <ul class="nw-m-2 nw-block">
            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Corona-Maßnahmen: So verschärfen die Ampel-Partner ihre
                  Gesetzespläne
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Bielefelder Intensivpfleger spricht offen von Triage in den
                  Kliniken
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Corona-Krise Inzidenz Bielefeld: Aktuelle Corona-Zahlen für
                  Montag
                </span>
              </a>
            </li>
            <li>
              <a
                href=""
                class="
                  nw-pt-2
                  nw-flex
                  nw-font-roboto
                  nw-text-gray-600
                  nw-font-bold
                  nw-tracking-normal
                  nw-place-content-center
                "
              >
                Mehr zum Thema
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="nw-cursor-pointer nw-text-gray-600 nw-pl-1"
                  width="30"
                  height="25"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Liste2 Ende -->
    </div>
    <!-- box1 Ende -->
    <!-- box3 -->
    <div class="nw-bg-white nw-rounded-md">
      <!-- Head -->
      <div class="nw-w-full nw-relative">
        <div
          class="
            nw-w-full
            nw-h-full
            nw-bg-gray-600
            nw-top-0
            nw-left-0
            nw-absolute
            nw-opacity-80
            nw-rounded-md
          "
        ></div>
        <div
          class="
            nw-w-full
            nw-h-full
            nw-flex
            nw-flex-col
            nw-absolute
            nw-top-0
            nw-left-0
            nw-justify-center
            nw-items-center
            nw-z-30
          "
        >
          <div
            class="
              nw-text-tiny
              nw-font-medium
              nw-font-roboto
              nw-tracking-normal
              nw-uppercase
              nw-text-gray-200
            "
          >
            Thema
          </div>
          <div
            class="
              nw-text-base
              nw-tracking-normal
              nw-font-roboto
              nw-font-bold
              nw-text-white
            "
          >
            Schwerster Kampf
          </div>
        </div>
        <img
          class="nw-rounded-t-md nw-object-cover nw-w-96 nw-h-24"
          src="{{image-src-s}}"
        />
      </div>
      <!-- Head Ende -->
      <!-- Liste 3 -->
      <div class="nw-block">
        <div>
          <ul class="nw-m-2 nw-block">
            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Bielefelder Intensivpfleger spricht offen von Triage in den
                  Kliniken
                </span>
              </a>
            </li>

            <li
              class="nw-border-b-2 nw-border-solid nw-border-gray-200 nw-py-2"
            >
              <a href="" class="nw-flex">
                <img class="nw-h-16 nw-w-56" src="{{image-src-m}}" />
                <span
                  class="
                    nw-ml-2
                    nw-text-tiny
                    nw-font-roboto
                    nw-text-left
                    nw-font-medium
                    nw-tracking-normal
                    nw-text-black
                  "
                >
                  Corona-Krise Inzidenz Bielefeld: Aktuelle Corona-Zahlen für
                  Montag
                </span>
              </a>
            </li>
            <li>
              <a
                href=""
                class="
                  nw-pt-2
                  nw-flex
                  nw-font-roboto
                  nw-text-gray-600
                  nw-font-bold
                  nw-tracking-normal
                  nw-place-content-center
                "
              >
                Mehr zum Thema
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="nw-cursor-pointer nw-text-gray-600 nw-pl-1"
                  width="30"
                  height="25"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Liste3 Ende -->
    </div>
    <!-- box3 Ende -->
  </div>

  <div class="nw-mt-8 nw-mb-4">
    <span
      class="
        nw-text-left
        nw-text-black
        nw-font-bold
        nw-font-roboto
        nw-text-xl
        nw-tracking-normal
      "
    >
      Themenglossar
    </span>
  </div>
  <!--buttons -->
  <div
    class="
      nw-inline-block
      nw-flex
      nw-flex-row
      nw-justify-between
      nw-border
      nw-text-center
      nw-bg-white
      nw-rounded-md
      nw-overflow-x-auto
      nw-overflow-y-hidden
      nw-whitespace-nowrap
    "
  >
    {{#each buttons}}
    <a
      href=""
      class="
        nw-px-2
        nw-py-1.5
        nw-border-r
        nw-float-left
        nw-text-center
        nw-text-black
        nw-text-roboto
        nw-tracking-normal
        nw-uppercase
        nw-text-tiny
        nw-font-normal
        nw-cursor-pointer
      "
    >
      {{this}}
    </a>
    {{/each}}
    <a
      href=""
      class="
        nw-px-2
        nw-py-1.5
        nw-float-left
        nw-text-center
        nw-text-black
        nw-text-roboto
        nw-tracking-normal
        nw-uppercase
        nw-text-tiny
        nw-font-normal
        nw-cursor-pointer
      "
    >
      0-9
    </a>
  </div>
  <!-- buttons Ende -->

  <div
    class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 nw-gap-4 nw-mt-6 nw-mb-4"
  >
    <!-- box1-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Bielefeld
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema1}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
    <!-- box2-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Kreis Gütersloh
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema2}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
    <!-- box3-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Kreis Höxter
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema3}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
    <!-- box4-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Kreis Höxter
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema4}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
    <!-- box5-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Kreis Minden-Lübbecked
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema5}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
    <!-- box6-->
    <div
      class="
        nw-text-sm
        nw-font-medium
        nw-text-gray-900
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-gray-200
      "
    >
      <a
        href="#"
        aria-current="true"
        class="
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-text-white
          nw-bg-custom-1-700
          nw-rounded-t-md
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          nw-text-base
          nw-font-roboto
          nw-text-left
          nw-font-bold
          nw-leading-8
          nw-tracking-normal
        "
      >
        Kreis Paderborn
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-red-500"
          width="20"
          height="20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{#each thema6}}
      <a
        href="#"
        class="
          nw-text-base
          nw-font-roboto
          nw-font-medium
          nw-tracking-normal
          nw-text-black
          nw-text-left
          nw-block
          nw-py-2
          nw-px-4
          nw-w-full
          nw-border-b
          nw-border-gray-200
          nw-cursor-pointer
          hover:nw-bg-gray-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-gray-200
          focus:nw-text-custom-1-700
          hover:nw-bg-gray-200 hover:nw-nw-text-white
          focus:nw-ring-gray-500 focus:nw-text-white
        "
      >
        {{this}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-float-right nw-text-black"
          width="17"
          height="17"
          fill=" none
                "
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
      {{/each}}
    </div>
  </div>
</div>
