<div class="nw-py-4 nw-px-4 md:nw-flex md:nw-flex-row">
    <div class="nw-mr-0 md:nw-mr-4">
        <div class="nw-flex nw-mb-1">
            <img class="nw-mr-1" src="{{logo}}" alt="" width="30" height="30"/>

            <span
                class="
          nw-uppercase nw-text-base
          sm:nw-text-md
          nw-font-medium nw-text-gray-500
        "
            >
                {{title}}
            </span>
        </div>
        <div class="nw-text-lg sm:nw-text-xl nw-text-black nw-font-bold">
            {{caption}}
        </div>
    </div>
    <div class="nw-flex nw-flex-col sm:nw-flex-row nw-justify-between">
        <div
            class="
        nw-order-last
        md:nw-oder-first
        nw-max-h-36 nw-mt-4
        sm:nw-mt-0
        nw-overflow-hidden
      "
        >
            <img class="nw-mx-auto" src=" {{ipad-screen}}" alt=""/>
        </div>
        <div class="nw-order-first md:nw-order-last md:nw-mx-4">
            <a
                href=""
                class="
          nw-uppercase nw-mt-2
          sm:nw-mt-8
         nw-btn-primary-md
        "
            >
                {{label}}
            </a>
        </div>
    </div>
</div>
