<div class="nw-grid nw-grid-cols-1 nw-gap-0 md:nw-gap-2 nw-mx-0 md:nw-mx-52">
  <div class="nw-bg-white nw-mx-0 nw-px-4 md:nw-shadow-md md:nw-rounded-md">
    <div>
      <p
        class="
          nw-text-left
          nw-text-base
          nw-font-roboto
          nw-font-bold
          nw-opacity-100
          nw-text-black
          nw-tracking-normal
          nw-pt-4
          nw-pb-1
        "
      >
        {{headline}}
      </p>
    </div>

    <div>
      <p
        class="
          nw-text-left
          nw-text-tiny
          nw-font-roboto
          nw-font-normal
          nw-tracking-normal
          nw-opacity-100
          nw-text-black
          nw-pt-1
        "
      >
        {{caption}}
      </p>
    </div>

    <div>
      <form action="">
        <input
          class="
            nw-w-full
            nw-px-4
            nw-py-1
            nw-mx-auto
            nw-mb-1
            nw-inline-block
            nw-border-2
            nw-border-solid
            nw-border-gray-200
            nw-rounded
            nw-box-border
            nw-cursor-pointer
            hover:nw-border-gray-400
            focus:nw-border-gary-400
          "
          type="email"
          id=""
          name="email"
          placeholder="E-Mail"
          required
        />

        <input
          class="
            nw-w-full
            nw-px-4
            nw-py-1
            nw-mx-auto
            nw-inline-block
            nw-border-2
            nw-border-solid
            nw-border-gray-200
            nw-rounded
            nw-box-border
            nw-cursor-pointer
            hover:nw-border-gray-400
            focus:nw-border-gary-400
          "
          type="password"
          id=""
          name="password"
          placeholder="Passwort"
          required
        />
        <div>
          <p
            class="
              nw-text-right
              nw-text-xs
              nw-pb-1
              nw-pt-0.5
              nw-text-gray-700
              nw-tracking-normal
              nw-font-normal
              nw-opacity-100
              nw-mx-auto
            "
          >
            <a href="" target="_blank"> {{password}} </a>
          </p>
        </div>
        <div class="nw-mb-1">
          <label class="nw-flex nw-items-center nw-space-x-1">
            <input
              type="checkbox"
              name="checked-demo"
              class="
                nw-form-tick
                nw-border
                nw-rounded-sm
                nw-nw-border-gray-300
                nw-appearance-none
                nw-cursor-pointer
                nw-h-3
                nw-w-3
                checked:nw-bg-gray-500
                focus:outline-none
              "
            />
            <span
              class="
                nw-text-gray-700
                nw-text-xs
                nw-font-normal
                nw-text-left
                nw-tracking-normal
                nw-opacity-100
              "
              >Angemeldet bleiben</span
            >
          </label>
        </div>

        <input
          class="
            nw-w-full
            md:nw-w-1/2
            nw-px-8
            nw-py-1
            nw-mx-auto
            nw-mb-1
            nw-inline-block
            nw-font-roboto
            nw-font-bold
            nw-text-tiny
            nw-rounded
            nw-bg-red-500
            nw-text-white
            nw-tracking-normal
            nw-cursor-pointer
            hover:nw-bg-red-700
            focus:nw-bg-red-700
          "
          type="submit"
          value="Anmelden"
        />
      </form>
    </div>
    <div class="nw-pt-8 md:nw-invisible">
      <hr />
    </div>
  </div>
  <div class="nw-bg-white nw-mx-0 nw-px-4 md:nw-shadow-md md:nw-rounded-md">
    <div class="nw-pb-4">
      <p
        class="
          nw-pt-2
          nw-text-center
          nw-text-base
          nw-font-roboto
          nw-font-bold
          nw-tracking-normal
          nw-text-black
          nw-opacity-100
        "
      >
        {{caption1}}
      </p>
      <p
        class="
          nw-pt-0.5
          nw-text-center
          nw-text-tiny
          nw-font-roboto
          nw-font-normal
          nw-tracking-normal
          nw-opacity-100
        "
      >
        {{caption2}}
      </p>
      <div class="nw-text-center">
        <a
          class="
            nw-mt-1
            nw-bg-white
            nw-border-2
            nw-border-solid
            nw-border-gray-200
            nw-rounded
            nw-text-center
            nw-inline-block
            nw-text-tiny
            nw-font-roboto
            nw-font-bold
            nw-cursor-pointer
            nw-py-1
            nw-px-4
            hover:nw-border-gray-300
          "
          type="button"
          onclick=""
        >
          {{register}}
        </a>
      </div>
    </div>
  </div>
</div>
