<div class="nw-p-4">
  <div
    class="nw-bg-custom-erwinteaser-bg nw-flex nw-flex-wrap nw-rounded nw-p-4"
  >
    <p
      class="
        nw-text-3xl
        sm:nw-text-7xl
        nw-pb-0
        md:nw-pb-12
        nw-font-bold nw-uppercase nw-text-custom-erwinteaser-font-big
      "
    >
      WAS? WO? WANN? FRAG ERWIN!
    </p>
    <img
      class="nw-order-none sm:nw-order-last md:nw-order-none nw-h-1/2 nw-w-1/2"
      src=" {{event-portal-image}}"
      alt=""
    />
    <p class="nw-text-white nw-pt-0 md:nw-pt-8 nw-text-tiny sm:nw-text-xl">
      Das Veranstaltungsportal für die ganze Region. Alle Veranstaltungen,
      Konzerte und Öffnungzeiten.
    </p>
  </div>
</div>

<div class="nw-p-4">
  <div
    class="
      nw-bg-custom-erwinteaser-bg nw-flex nw-flex-col
      md:nw-flex-row
      nw-rounded nw-p-4
    "
  >
    <div>
      <p
        class="
          nw-text-3xl
          sm:nw-text-6xl
          md:nw-text-7xl
          nw-pb-4
          md:nw-pb-12
          nw-font-bold nw-uppercase nw-text-custom-erwinteaser-font-big
        "
      >
        {{title}}
      </p>
      <p
        class="
          nw-hidden
          md:nw-block
          nw-text-white nw-pt-0
          md:nw-pt-8
          nw-text-tiny
          sm:nw-text-xl
        "
      >
        {{caption}}
      </p>
    </div>
    <div class="nw-hidden md:nw-block md:nw-flex md:nw-items-center">
      <img class="md:nw-h-auto md:nw-w-auto" src=" {{event-portal-image}}" />
    </div>

    <div class="nw-block md:nw-hidden nw-flex">
      <p class="nw-text-white nw-pt-0 md:nw-pt-8 nw-text-tiny sm:nw-text-xl">
        {{caption}}
      </p>
      <div>
        <img
          class="md:nw-h-auto md:nw-w-auto sm:nw--mt-12"
          src=" {{event-portal-image}}"
        />
      </div>
    </div>
  </div>
</div>
