<li class="nw-nav-item nw-border-b nw-bg-white">
  <div class="nw-flex nw-justify-between nw-border-b nw-py-2 nw-items-center">
    <a
      href="#"
      class="nw-text-red-500 nw-uppercase nw-text-sm nw-pl-3 nw-flex-grow"
      >{{label}}</a
    >
    <div class="nw-menu-seperator"></div>
    <span class="nw-px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="nw-h-5 nw-w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </span>
  </div>
  {{#each menus}}
  <ul>
    <li>
      <div
        class="nw-flex nw-justify-between nw-border-b nw-py-2 nw-items-center"
      >
        <a
          href="#"
          class="nw-text-black nw-text-sm nw-pl-6 nw-font-bold nw-flex-grow"
        >
          {{#if this.menus}} {{this.label}} {{else}} {{this}} {{/if}}
        </a>
        {{#if this.menus}}
        <div class="nw-menu-seperator"></div>
        <span class="nw-px-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="nw-h-5 nw-w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>
      <ul class="nw-pl-9 nw-py-1.5">
        {{#each this.menus}}
        <li class="nw-py-1.5">{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
  </ul>
  {{/each}}
</li>
