<div class="slider bg-nw-gray-100 pb-4">
  <div class="embla embla--main-carousel">
    <div class="embla__viewport relative">
      <div class="embla__container">
        {{#each images}}
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="aspect-w-3 aspect-h-2">
              <img
                class="embla__slide__img h-full w-full object-cover"
                src="{{src}}"
              />
            </div>
          </div>
          <div class="px-4 pt-2 pb-1">
            <p class="text-xs text-black">{{{caption}}}</p>
          </div>
        </div>
        {{/each}}
      </div>
      <div
        class="
          slider--button-prev
          flex
          bg-black
          text-white
          w-8
          h-8
          absolute
          rounded-full
          object-center
          top-1/2
          left-2
          transform
          -translate-y-1/2
          cursor-pointer
        "
      >
        <img class="w-full" src="{{path '/images/arrow-left.svg'}}" />
      </div>
      <div
        class="
          slider--button-next
          flex
          bg-black
          text-white
          w-8
          h-8
          absolute
          rounded-full
          object-center
          top-1/2
          right-2
          transform
          -translate-y-1/2
          cursor-pointer
        "
      >
        <img class="w-full" src="{{path '/images/arrow-right.svg'}}" />
      </div>
    </div>
  </div>

  <div class="px-4 py-2">
    <p class="text-xs text-mw-grey-400">
      Bild <span class="slider--counter-current">1</span> von
      <span class="slider--counter-total"></span>
    </p>
  </div>

  <!-- Thumbs -->
  <div class="embla embla--thumb">
    <div class="embla__viewport px-4">
      <div class="embla__container embla__container--thumb">
        {{#each images}}
        <div class="embla__slide embla__slide--thumb">
          <div class="aspect-w-3 aspect-h-2">
            <button
              class="embla__slide__inner embla__slide__inner--thumb"
              type="button"
            >
              <img class="embla__slide__thumbnail" src="{{src}}" />
            </button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
