<div class="slider nw-bg-nw-gray-100 nw-pb-4">
  <div class="embla embla--main-carousel">
    <div class="embla__viewport relative">
      <div class="embla__container">
        {{#each images}}
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="nw-aspect-w-3 nw-aspect-h-2">
              <img
                class="embla__slide__img nw-h-full nw-w-full nw-object-cover"
                src="{{src}}"
              />
            </div>
          </div>
          <div class="nw-px-4 nw-pt-2 nw-pb-1">
            <p class="nw-text-xs nw-text-black">{{{caption}}}</p>
          </div>
        </div>
        {{/each}}
      </div>
      <div
        class="
          slider--button-prev
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-2
          nw-transform
          -translate-y-1/2
          nw-cursor-pointer
        "
      >
        <img class="w-full" src="{{path '/images/arrow-left.svg'}}" />
      </div>
      <div
        class="
          slider--button-next
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-2
          nw-transform
          -translate-y-1/2
          nw-cursor-pointer
        "
      >
        <img class="w-full" src="{{path '/images/arrow-right.svg'}}" />
      </div>
    </div>
  </div>

  <div class="nw-px-4 nw-py-2">
    <p class="nw-text-xs nw-text-mw-grey-400">
      Bild <span class="slider--counter-current">1</span> von
      <span class="slider--counter-total"></span>
    </p>
  </div>

  <!-- Thumbs -->
  <div class="embla embla--thumb">
    <div class="embla__viewport nw-px-4">
      <div class="embla__container embla__container--thumb">
        {{#each images}}
        <div class="embla__slide embla__slide--thumb">
          <div class="nw-aspect-w-3 nw-aspect-h-2">
            <button
              class="embla__slide__inner embla__slide__inner--thumb"
              type="button"
            >
              <img class="embla__slide__thumbnail" src="{{src}}" />
            </button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
