<div class="nw-bg-white">
    <!-- absolute-foto-->
    <div
        class="
      nw-w-full nw-relative nw-pt-4 nw-px-2
      md:nw-px-2 md:nw-mb-4
      lg:nw-mb-4
    "
    >
        <div
            class="
        nw-w-full
        nw-h-full
        nw-flex
        nw-flex-col
        nw-absolute
        nw-top-0
        nw-left-0
        nw-z-30
      "
        >
            <div
                class="
          nw-ml-0 nw-pl-12
          md:nw-pl-0
          lg:nw-pl-0
          nw-mt-16
          md:nw-ml-12
          lg:nw-ml-12
          nw-text-base
          md:nw-text-lg
          lg:nw-text-xl
          nw-font-bold nw-italic nw-text-gray-798 nw-max-w-xs
          md:nw-max-w-sm
          lg:nw-max-w-md
          nw-hidden
          md:nw-block
        "
            >
                <span class="nw-font-normal"> {{absolute-text}}</span>
            </div>
        </div>
        <img
            class="nw-rounded-md nw-object-cover nw-w-full nw-mt-2 md:nw-mt-8"
            src="/images/landingpage-fuer-vertrieb/img-asset-1000x666.png"
            alt=""
        />
        <div
            class="
        nw-mx-auto
        nw-px-4
        nw-py-4
        nw-text-base
        nw-font-bold
        nw-italic
        nw-text-gray-600
        nw-block
        md:nw-hidden
      "
        >
            <span class="nw-font-normal"> {{absolute-text}}</span>
        </div>
    </div>
    <!-- absolute-foto-ende -->
    <!--lust auf digital -->
    <div class="md:nw-h-full nw-bg-gray-0 nw-rounded-md nw-mx-2 nw-mb-4">
        <div
            class="
        nw-text-4xl nw-font-bold nw-text-left
        md:nw-text-center
        nw-pt-4 nw-px-4
        md:nw-px-16 md:nw-px-0
      "
        >
      <span class="nw-text-gray-500"> Lust auf </span
      ><span class="nw-text-red-0"> digital?</span>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-4
        nw-gap-4 nw-mt-4 nw-mx-4 nw-pt-2 nw-pb-20
        md:nw-pb-6
      "
        >
            <div class="nw-hidden md:nw-block">
                <img
                    class="nw-rounded-md nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1474.png"
                    alt=""
                />
            </div>
            <div class="nw-col-span-4 md:nw-col-span-2 nw-text-lg">
                <div class="nw-mt-0 md:nw-mt-4 nw-text-black nw-font-bold">
                    {{description1}}
                </div>
                <br/>
                <div class="nw-text-red-0 nw-font-normal">{{description2}}</div>
                <div class="nw-text-center md:nw-text-left nw-pt-8 md:nw-pt-6 nw-pb-4">
                    <a
                        href="https://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
                        class="nw-landingpage-button"
                    >
                        Jetzt das ePaper kostenlos testen
                    </a>
                </div>

                <img
                    class="
            nw-block
            md:nw-hidden
            nw-mt-8 nw--mb-48 nw-mx-auto nw-rounded-md nw-w-40 nw-h-46
          "
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
                    alt=""
                />
            </div>
            <div class="nw-hidden md:nw-block">
                <img
                    class="nw-rounded-md nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
                    alt=""
                />
            </div>
        </div>
    </div>
    <!-- lust auf digital ende-->
    <!--paper vorteile -->
    <div class="nw-px-4 md:nw-px-0">
        <div
            class="
        nw-pt-8 nw-mt-24
        md:nw-mt-8
        nw-text-center nw-font-bold nw-text-xl
        md:nw-text-4xl
      "
        >
            <div class="nw-text-gray-500">Ihre ePaper Vorteile</div>
            <div class="nw-mt-0 md:nw-mt-1 nw-text-red-0">auf einen Blick</div>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-3
        nw-my-8 nw-pt-4 nw-px-4 nw-gap-4
      "
        >
          {{#each this.box}}
            <div class="nw-shadow-md nw-rounded-md nw-bg-gray-0 nw-flex-col">
              <div class="nw-bg-red-0 nw-rounded-t-md nw-h-1"></div>
              <div
                class="
      nw-text-lg
      md:nw-text-lg
      nw-text-gray-500 nw-text-center nw-font-bold nw-pt-4 nw-pb-2 nw-bg-white
    "
              >
                {{this.title}}
              </div>
              <div class="nw-bg-white">
                <img class="nw-w-full nw-h-28 nw-pb-2" src="{{this.box-image}}"/>
              </div>
              <div class="nw-w-16 nw-overflow-hidden nw-block nw-mx-auto">
                <div
                  class="
        nw-h-11
        nw-w-11
        nw-bg-white
        nw--rotate-45
        nw-transform
        nw-origin-top-left
        nw-mb-2
      "
                ></div>
              </div>
              {{#each this.elements}}
                <div class="nw-pb-4 nw-flex-1">
                  <div class="nw-px-4 nw-flex">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        class="nw-mr-1 nw-text-red-0"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                    </div>
                    <div>
        <span class="nw-font-bold nw-text-black nw-text-md md:nw-text-md">
          {{this.caption}}
        </span>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/each}}

        </div>
      <div class="nw-text-center nw-pt-8 nw-pb-4">
        <a href="hhtps://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
           class="nw-inline-flex nw-items-center nw-justiy-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap
          nw-text-white nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100
          focus:nw-bg-red-200 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
          Jetzt das ePaper kostenlos testen
        </a>
      </div>
    </div>
    <!-- epaper vorteile ende -->
    <!-- epaper-info -->
    <div class="nw-mt-8 nw-pb-8 nw-bg-gray-0 nw-mx-2 nw-rounded-md">
        <div
            class="nw-pt-12 nw-text-center nw-font-bold nw-text-xl md:nw-text-4xl"
        >
            <div class="nw-text-gray-500">Das bietet Ihnen das</div>
            <div class="nw-mt-0 md:nw-mt-1 nw-text-red-0">NW ePaper konkret:</div>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-0
        md:nw-mt-12
      "
        >
            <div>
                <img
                    class="md:nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1186.png"
                    alt=""
                />
            </div>
            <div
                class="
          nw-mx-8
          md:nw-mx-0
          nw-pr-0
          md:nw-pr-8
          nw-font-bold nw-text-md
          md:nw-text-lg
        "
            >
              {{#each epaper-info}}
                <div class="nw-mb-4">
                  <div class="nw-text-red-0">{{this.title}}</div>
                  <div>{{this.caption}}</div>
                </div>
              {{/each}}

            </div>
        </div>
        <div class="nw-text-center nw-pt-8 nw-pb-4">
          <a href="hhtps://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
          class="nw-inline-flex nw-items-center nw-justiy-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap
          nw-text-white nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100
          focus:nw-bg-red-200 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
            Jetzt das ePaper kostenlos testen
          </a>
        </div>
    </div>
    <!-- epaper-info ende -->
    <!-- epaper-info2-->
    <div class="nw-mx-2">
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-8
      "
        >
            <div
                class="
          nw-pl-0
          md:nw-pl-8
          nw-font-bold nw-text-md
          md:nw-text-lg
          nw-ml-4
          md:nw-ml-16
          nw-order-last
          md:nw-order-first
        "
            >
              {{#each epaper-info2}}
                <div class="nw-mb-4">
                  <div class="nw-text-red-0">{{this.title}}</div>
                  <div>{{this.caption}}</div>
                </div>
              {{/each}}
            </div>
            <div class="nw-mb-4 md:nw-mb-0">
                <img
                    class="md:nw-object-cover nw-w-full md:nw-h-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1187.png"
                    alt=""
                />
            </div>
        </div>
      <div class="nw-text-center nw-pt-8 nw-pb-4">
        <a href="hhtps://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
           class="nw-inline-flex nw-items-center nw-justiy-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap
          nw-text-white nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100
          focus:nw-bg-red-200 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
          Jetzt das ePaper kostenlos testen
        </a>
      </div>
    </div>
    <!-- gradient-page -->
  <div class="nw-px-2 nw-mt-8">
    <div
      class="
      nw-bg-gradient-to-b
      nw-from-black
      nw-via-red-0
      nw-to-black
      nw-w-full
      nw-block
      nw-px-2
      nw-pb-8
      nw-rounded-md
    "
    >
      <div
        class="nw-pt-12 nw-text-center nw-font-bold nw-text-xl md:nw-text-4xl"
      >
        <div class="nw-text-white nw-mb-0 md:nw-mb-1">Übersichtlich</div>
        <div class="nw-text-red-0">& Intuitiv</div>
        <img
          class="nw-py-8 nw-mx-auto nw-rounded-md nw-w-1/4"
          src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
          alt=""
        />
      </div>

      <div
        class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-16 nw-pt-12 nw-px-12 nw-hidden
      "
      >
        <div class="nw-font-bold">
          <div class="nw-text-white nw-text-lg md:nw-text-xl">
            Ich weiß, was bei meinen Kindern los ist!
          </div>
          <div
            class="
            nw-pt-0
            md:nw-pt-4 nw-text-white
            nw-text-4xl
            md:nw-text-7xl
          "
          >
            ”
          </div>
          <div class="nw-text-white nw-text-md md:nw-text-lg">
            Ich wohne in Bielefeld, meine Tochter in Lübbecke, mein Sohn in
            Paderborn. Mit dem ePaper kann ich alle Lokalausgaben kostenlos lesen
            und weiß immer, was bei meinen Kindern los ist.“
          </div>
        </div>
        <div class="nw-font-bold">
          <div class="nw-text-white nw-text-lg md:nw-text-xl">
            Endlich kein Gerangel mehr um die Zeitung
          </div>
          <div
            class="
            nw-pt-0
            md:nw-pt-4 nw-text-white
            nw-text-4xl
            md:nw-text-7xl
          "
          >
            ”
          </div>
          <div class="nw-text-white nw-text-md md:nw-text-lg">
            Speziell samstags wollen mein Mann und mein Sohn gleichzeitig den
            Sportteil lesen. Mit dem ePaper kann nun auf bis zu vier Geräten
            gleichzeitig gelesen werden.“
          </div>
        </div>
      </div>
      <div class="nw-text-center nw-pt-8 nw-pb-4">
        <a href="hhtps://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
           class="nw-inline-flex nw-items-center nw-justiy-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap
          nw-text-white nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100
          focus:nw-bg-red-200 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
          Jetzt das ePaper kostenlos testen
        </a>
      </div>
    </div>
  </div>

  <!-- -->
    <!--Fragen-page -->
  <div class="nw-pb-4">
    <div class="nw-pt-12 nw-text-center nw-font-bold nw-text-xl md:nw-text-4xl">
      <div class="nw-text-gray-500 nw-mb-0 md:nw-mb-1">Sie haben Fragen</div>
      <div class=" nw-text-red-0">
        oder wünschen Beratung?
      </div>
    </div>
    <div
      class="
      nw-px-8 nw-pt-12 nw-pb-8
      md:nw-pb-12
      nw-text-md
      md:nw-text-xl
      nw-font-bold nw-text-gray-500 nw-text-center
    "
    >
      Kontaktieren Sie uns gern oder besuchen Sie uns!
    </div>
    <div
      class="
      nw-px-4
      md:nw-px-12 md:nw-max-w-md
      lg:nw-max-w-full
      nw-mx-8 nw-grid nw-grid-cols-1
      lg:nw-grid-cols-3
      nw-gap-4 nw-font-bold nw-text-md
      md:nw-text-lg md:nw-text-center
      nw-mx-auto
    "
    >
      {{#each this.fragen-page}} <div
        class="
    nw-border nw-rounded-md nw-px-8
    md:nw-px-4
    nw-pt-4 nw-pb-12
    sm:nw-mx-16
    md:nw-mx-0
  "
      >
        <img class="nw-w-full nw-h-14 nw-pb-2" src="{{icon}}" />
        <div class="nw-pt-2">
          <a
            class="
        nw-text-red-0
        hover:nw-text-red-100
        nw-no-underline
        hover:nw-underline
      "
            href="{{href-link}}"
          >
            {{title}}
          </a>
        </div>
        <span> {{caption}}</span>
      </div>
      {{/each}}
    </div>
  </div>

  <!-- -->
</div>
<script>
    const button = document.querySelector('#menu-button');
    const menu = document.querySelector('#menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('nw-hidden');
    });
</script>
