<style>
    .themeTeaser {
        background-image: url('https://www.kindacode.com/wp-content/uploads/2022/06/night-sky.jpeg');
        min-width: 300px;
        max-width: 660px;
        min-height: 400px;
    }
</style>

<div class="themeTeaser nw-relative nw-bg-cover nw-bg-center nw-rounded-md">
    <div class="nw-absolute nw-inset-0 nw-bg-gradient-to-t nw-from-black nw-to-transparent nw-rounded-b-md"></div>
    <div
        class="
      nw-absolute nw-bottom-4
      sm:nw-bottom-5
      md:nw-bottom-8
      nw-left-0 nw-px-4
      md:nw-px-8
    "
    >
        <div class="nw-flex nw-flex-col md:nw-flex-row nw-justify-between nw-mt-8">
            <div class="nw-flex-1 md:nw-pr-4 nw-mb-4 md:nw-mb-0">
                <p class="nw-uppercase nw-text-sm nw-text-white">
                    {{header}}
                </p>
                <p class="nw-text-white nw-pb-4 nw-font-medium nw-text-xl">
                    {{caption}}
                </p>
                <a
                    href="#"
                    class="
            nw-inline
            nw-px-2 nw-py-1 nw-text-white nw-bg-red-0
            hover:nw-bg-red-100
            nw-rounded nw-text-center nw-inline-block nw-text-sm
            sm:nw-text-base
            nw-font-bold nw-cursor-pointer
          "
                    type="button"
                >
                    {{button}}
                </a>
            </div>
            <div class="nw-hidden md:nw-block nw-border-white nw-border-l"></div>
            <hr class="nw-mb-2 md:nw-mb-0"/>
            <div class="nw-text-white nw-flex-1 md:nw-pl-4 ">
                <a href="#" class="nw-cursor-pointer hover:nw-text-gray-100">
                    <p class="nw-uppercase nw-font-medium nw-pb-0.5 nw-text-sm sm:nw-text-base">{{text1}}</p>
                    <p class="nw-pb-2 sm:nw-pb-4 nw-text-xs sm:nw-text-sm">{{text2}}</p>
                </a>
                <a href="#" class="nw-cursor-pointer hover:nw-text-gray-100">
                    <p class="nw-uppercase nw-font-medium nw-pb-0.5 nw-text-sm sm:nw-text-base">{{text3}}</p>
                    <p class="nw-text-xs sm:nw-text-sm">{{text4}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

