<div
    class="nw-bg-gray-100 nw-flex nw-flex-row nw-justify-between nw-px-4 nw-py-4"
>
    <div>
        <div><img src="{{logo}}" alt="" width="50" height="50"/></div>
        <div
            class="nw-font-bold nw-text-lg sm:nw-text-2xl nw-pb-0 sm:nw-pb-2 nw-pt-1"
        >
            {{caption}}
        </div>
        <div class="nw-overflow-hidden nw-pl-2 block nw-mt-4 nw-mb-8 sm:nw-hidden">
            <img
                class="nw-mx-auto nw-object-cover"
                src=" {{smartphone-foto}}"
                alt=""
            />
        </div>
        <div>
            <a
                href=""
                class="
          nw-uppercase
          nw-inline-flex
          nw-bg-red-500
          nw-border
          nw-border-transparent
          nw-rounded-full
          nw-py-1
          nw-px-2
          nw-flex
          nw-items-center
          nw-justify-center
          nw-text-xs
          sm:nw-text-sm
          md:nw-text-base
          nw-shadow-md nw-font-bold nw-text-white
          hover:nw-bg-red-600
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-offset-2
          focus:nw-ring-offset-gray-800
          focus:nw-ring-indigo-500
        "
            >
                {{label}}
            </a>
        </div>
    </div>
    <div class="nw-overflow-hidden nw-pl-2 nw-hidden sm:nw-block">
        <img
            class="nw-mx-auto nw-object-cover nw-h-32"
            src=" {{smartphone-foto}}"
            alt=""
        />
    </div>
</div>
