{{#each artikel-box}}
<div
  class="
    nw-text-black
    nw-text-center
    nw-uppercase
    nw-mx-2
    nw-py-3
    nw-text-xl
    nw-font-bold
    nw-mt-6
  "
>
  Weitere Arminia Artikel
</div>

<div
  class="nw-mx-2 nw-block md:nw-flex nw-grid nw-grid-cols-1 md:nw-grid-cols-1"
>
  <div
    class="
      nw-grid nw-grid-cols-1
      md:nw-grid-cols-2
      nw-rounded-lg
      nw-overflow-hidden
      nw-bg-white
      nw-bg-origin-padding
      nw-bg-no-repeat
      nw-shadow-md
    "
  >
    <div>
      <div class="nw-aspect-w-16 nw-aspect-h-9">
        <img
          class="nw-object-cover nw-w-full nw-opacity-1"
          src="{{this.image-src-m}}"
        />
      </div>
    </div>
    <div class="nw-p-2">
      {{>@banner}}
      <div>
        <p
          itemprop="headline"
          class="
            nw-text-xl
            md:nw-text-xl
            nw-tracking-normal
            nw-text-left
            nw-font-bold
            nw-text-black
            nw-leading-tight
          "
        >
          {{this.headline}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}
<!-- -->
<!-- -->
<div
  class="
    nw-mt-2 nw-grid nw-grid-cols-1
    sm:nw-grid-cols-1
    md:nw-grid-cols-2
    lg:nw-grid-cols-3
  "
>
  {{#each artikelcontainer-box}}
  <div class="nw-mx-2 nw-my-1 nw-rounded-md nw-bg-white nw-shadow-md">
    <a href="">
      <div class="nw-flex nw-justify-between nw-my-2">
        <div class="nw-ml-2 nw-mr-1 nw-text-sm nw-text-gray-500 nw-max-w-sm">
          {{this.title-box}} <br />
          <span class="nw-text-black nw-text-base nw-font-bold">
            {{this.caption-box}}</span
          >
        </div>
        <img
          src=" {{this.img-box}}"
          class="nw-mr-2 nw-min-h-20 nw-max-h-20 nw-max-w-28 nw-min-w-28"
          loading=""
          alt=""
        />
      </div>
    </a>
  </div>
  {{/each}}
</div>
