<style>
    body {
        font-family: Verdana, sans-serif;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    .row > .column {
        padding: 0 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 25%;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }

    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    img {
        margin-bottom: -4px;
    }

    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<div
    id="nw-embla-gradient"
    class="
    slider
    first-slide
    nw-bg-custom-1-700 nw-pb-6 nw-pt-6 nw-mb-6
    md:nw-mb-3
  "
>
    <div class="nw-pl-3 md:nw-pl-20">
        <div>
            <p class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
                {{title}}
            </p>
            <hr class="nw-red-line-l nw-mt-0.5"/>
        </div>
        <div>
            <p
                class="
          nw-text-white nw-text-left nw-text-md
          md:nw-text-xl
          nw-pt-3 nw-pb-2 nw-pr-2
        "
            >
                {{caption}}
            </p>
        </div>
    </div>
    <div class="embla embla--main-carousel">
        <div class="embla__viewport relative">
            <div class="embla__container ">
                {{#each images}}
                    <div
                        class="
            embla__slide
            nw-min-w-8/10
            sm:min-w-7/10
            md:nw-min-w-6/10
            lg:nw-min-w-4/10
            xl:nw-min-w-3/10
          "
                    >
                        <div class="embla__slide__inner nw-bg-clip-padding nw-block">
                            <a href="" class="nw-cursor-pointer slider-Image"
                               onclick="openModal('modal1');currentSlide({{@index}})">
                                <div class="nw-aspect-w-6 nw-aspect-h-4">
                                    <img
                                        class="
                    embla__slide__img
                    nw-h-full nw-w-full nw-object-cover nw-rounded-md
                  "
                                        src="{{src}}"
                                    />
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-prev
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-3
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="w-full" src="{{path '/images/arrow-left.svg'}}"/>
            </div>
            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-next
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-3
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="nw-w-full" src="{{path '/images/arrow-right.svg'}}"/>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <span class="close cursor" onclick="closeModal('modal1')">&times;</span>
    <div class="modal-content">
        {{#each images}}
            <div class="mySlides">
                <img
                    src="{{src}}"
                    style="width:100%">
            </div>
        {{/each}}


        <a class="prev" onclick="plusSlides(-1, 'modal1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'modal1')">&#10095;</a>


    </div>
</div>
<script>
    /*   function openModal(id) {
          document.getElementById(id).style.display = "block";
      }

      function closeModal() {
          document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 0;
      showSlides(slideIndex);

      function plusSlides(n) {
          showSlides(slideIndex += n);
      }

      function currentSlide(n) {
          showSlides(slideIndex = n);
      }

      function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demo");
          if (n > slides.length) {
              slideIndex = 1
          }
          if (n < 1) {
              slideIndex = slides.length
          }
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
      } */

    /* function openModal(id) {
        document.getElementById(id).style.display = "block";
    }

    function closeModal(id) {
        document.getElementById(id).style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(index) {
        showSlides(slideIndex = index + 1);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
 */

</script>