<div
    id="nw-embla-gradient"
    class="
    slider
    first-slide
    nw-bg-slate-300 nw-py-6 nw-mb-6
    md:nw-mb-3
  "
>
    <div class="nw-px-3 md:nw-px-20">
        <div class="nw-flex nw-flex-row nw-justify-between nw-items-end ">
            <div>
                <p class="nw-text-white nw-inline nw-text-lg nw-uppercase nw-font-bold">
                    {{title}}
                </p>
                <hr class="nw-red-line-l nw-mt-0.5"/>
            </div>
            <div class="nw-text-gray-200 nw-text-sm nw-pl-3"><span class="photoCount"></span>
                Bilder
            </div>
        </div>
        <div>
            <p
                class="
             nw-text-white nw-text-left nw-text-md
             nw-font-bol
             nw-pt-6 nw-pb-2 nw-pr-2
             "
            >
                {{caption}}
            </p>
        </div>
    </div>
    <div class="embla embla--main-carousel">
        <div class="embla__viewport relative">
            <div class="embla__container">
                {{#each images}}
                    <div class="
                        embla__slide nw-min-w-8/10
                        sm:min-w-8/10
                        md:nw-min-w-6/10
                        lg:nw-min-w-6/10
                        xl:nw-min-w-6/10">
                        <div
                            class="embla__slide__inner nw-bg-clip-padding nw-inline md:nw-block"
                        >
                            <a href="#" class="nw-cursor-pointer">
                                <div class="nw-aspect-w-4 nw-aspect-h-3">
                                    <img
                                        class="
                    embla__slide__img
                    nw-h-full nw-w-full nw-object-cover nw-rounded-md
                  "
                                        src="{{src}}"
                                    />
                                </div>
                            </a>
                            <div class="nw-pt-2 nw-text-white nw-text-base">
                                {{this.caption}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-prev
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-2
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="w-full" src="{{path '/images/arrow-left.svg'}}"/>
            </div>

            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-next
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-2
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="nw-w-full" src="{{path '/images/arrow-right.svg'}}"/>
            </div>
        </div>
    </div>

    <!-- Dots -->
    <div class="embla__dots nw-mt-0 sm:nw-mt-2"></div>
    <script type="text/template" id="embla-dot-template">
        <button class="embla__dot" type="button"></button>
    </script>
</div>
