<div
    id="nw-embla-gradient"
    class="
    slider
    first-slide
    nw-bg-custom-1-700 nw-pb-8 nw-pt-10
    nw-mb-10
    md:nw-mb-3
  "
>
    <div class="nw-px-3 md:nw-px-7">
        <div class="nw-flex nw-flex-row nw-justify-between nw-items-end">
            <div>
                <div class="nw-text-white nw-inline text-lg md:nw-text-2xl nw-uppercase nw-font-bold">
                    {{title}}
                </div>
                <hr class="nw-red-line-l nw-mt-0.5"/>
            </div>
            <div class="nw-text-gray-300 nw-text-sm nw-pl-3"><span class="photoCount" id="photoCount"></span>
                Bilder
            </div>
        </div>
        <div>
            <div
                class="
          nw-text-white nw-text-left nw-text-md nw-font-bol
          nw-pt-6 nw-pb-2 nw-pr-2
        "
            >
                {{caption}}
            </div>
        </div>
    </div>
    <div class="embla embla--main-carousel">
        <div class="embla__viewport relative">
            <div class="embla__container ">
                {{#each images}}
                    <div
                        class="
            embla__slide
            nw-min-w-8/10
            sm:min-w-7/10
            md:nw-min-w-6/10
            lg:nw-min-w-4/10
            xl:nw-min-w-3/10
          "
                    >
                        <div class="embla__slide__inner nw-bg-clip-padding nw-block testClass">
                            <a href="{{src}}" class="nw-gallery-lightbox" data-glightbox="type: image; description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.;" data-gallery="gallery1" title="Lorem ipsum dolor sit amet.">
                                <div class="nw-aspect-w-6 nw-aspect-h-4">
                                    <img
                                        class="
                    embla__slide__img
                    nw-h-full nw-w-full nw-object-cover nw-rounded-md
                  "
                                        src="{{src}}"
                                    alt="image">
                                    <div class="em_ads_box_dynamic_remove">
                                        <div id="nw.de_mr_6" class="nw-ad-element"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="nw-mt-8 nw-mx-auto nw-hidden md:nw-block" style="width: 96rem; height: 90px; max-width: 720px; max-height: 90px; background-color: #ccc;">
                Hier könnte Ihre Werbung stehen.
            </div>
            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-prev
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-8
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="w-full" src="{{path '/images/arrow-left.svg'}}"/>
            </div>
            <div
                class="
          nw-hidden
          md:nw-block
          slider--button-next
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-8
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
            >
                <img class="nw-w-full" src="{{path '/images/arrow-right.svg'}}"/>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const mainCarouselWrap = document.querySelector('.slider').querySelector('.embla--main-carousel');
        const mainCarouselView = mainCarouselWrap?.querySelector('.embla__viewport');
        options = {
            dragFree: true,
            containScroll: 'trimSnaps'
        };
        const mainCarousel = EmblaCarousel(mainCarouselView as HTMLElement);

        console.log(mainCarousel.slides);
    });
</script>