<div class="slider nw-bg-custom-1-700 nw-pb-4 nw-pt-6 nw-mb-4 md:nw-mb-2">
  <div class="nw-pl-2 md:nw-pl-20">
    <div>
      <p class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
        {{title}}
      </p>
      <hr class="nw-red-line-l nw-mt-0.5" />
    </div>
    <div>
      <p
        class="
          nw-text-white nw-text-left nw-text-base
          md:nw-text-xl
          nw-pt-2 nw-pb-1 nw-pr-1
        "
      >
        {{caption}}
      </p>
    </div>
  </div>
  <div class="embla embla--main-carousel nw-pl-2 md:nw-pl-20">
    <div class="embla__viewport relative">
      <div class="embla__container">
        {{#each images}}
        <div
          class="
            embla__slide
            nw-min-w-8/10
            sm:min-w-7/10
            md:nw-min-w-6/10
            lg:nw-min-w-4/10
            xl:nw-min-w-3/10
          "
        >
          <div class="embla__slide__inner nw-bg-clip-padding nw-block">
            <a href="" class="nw-cursor-pointer">
              <div class="nw-aspect-w-4 nw-aspect-h-3">
                <img
                  class="
                    embla__slide__img
                    nw-h-full nw-w-full nw-object-none nw-rounded-md
                  "
                  src="{{src}}"
                />
              </div>
            </a>
          </div>
        </div>
        {{/each}}
      </div>

      <div
        class="
          nw-hidden
          md:nw-block
          slider--button-prev
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-24
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
      >
        <img class="w-full" src="{{path '/images/arrow-left.svg'}}" />
      </div>
      <div
        class="
          nw-hidden
          md:nw-block
          slider--button-next
          nw-flex
          nw-bg-black
          nw-text-white
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-2
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
      >
        <img class="nw-w-full" src="{{path '/images/arrow-right.svg'}}" />
      </div>
    </div>
  </div>

  <!-- Dots -->
  <div class="embla__dots nw-mt-2"></div>

  <script type="text/template" id="embla-dot-template">
    <button class="embla__dot" type="button"></button>
  </script>
</div>
