<div class="nw-mx-auto nw-max-w-full nw-bg-white nw-py-4">
    <div
        class="nw-px-4 sm:nw-px-12 md:nw-px-12 nw-w-full nw-mx-auto md:nw-max-w-2xl"
    >
        <div>
            <svg
                class="nw-ml-auto nw-mr-auto"
                id="Symbols_Atoms_Icon_Newsletter"
                data-name="Symbols/Atoms/Icon/Newsletter"
                xmlns="http://www.w3.org/2000/svg"
                width="56"
                height="36.75"
                viewBox="0 0 56 36.75"
            >
                <path
                    id="Symbols_Atoms_Icon_Newsletter-2"
                    data-name="Symbols/Atoms/Icon/Newsletter"
                    d="M55.986,11.1c0-.022.01-.044.012-.066a.955.955,0,0,0-.009-.206c0-.017,0-.034,0-.051a.913.913,0,0,0-.093-.266c-.007-.015-.018-.028-.026-.043s0,0,0-.007,0,0,0-.006-.012-.021-.019-.03a.913.913,0,0,0-.206-.211c-.018-.013-.038-.02-.057-.032a.9.9,0,0,0-.22-.107.814.814,0,0,0-.1-.023.913.913,0,0,0-.207-.018.886.886,0,0,0-.11.008c-.024,0-.048,0-.072.006L.744,21.073a.926.926,0,0,0-.735.771.916.916,0,0,0,.488.942L16,30.848l2.72,14.876c0,.011,0,.023,0,.034a.852.852,0,0,0,0,.218.837.837,0,0,0,.019.108.88.88,0,0,0,.1.246c.009.015.009.032.02.047a.068.068,0,0,0,.011.012c.012.017.029.031.043.049a.946.946,0,0,0,.142.143c.008.006.014.017.023.023s.03.013.044.022a.955.955,0,0,0,.178.091c.025.009.048.02.075.028a.946.946,0,0,0,.258.04h0l.011,0,.048,0a.932.932,0,0,0,.664-.289l10.33-6.788,10.816,6.929a.946.946,0,0,0,.8.1.927.927,0,0,0,.581-.555l13.05-34.912a.832.832,0,0,0,.031-.1c0-.014,0-.028.007-.04A.327.327,0,0,0,55.986,11.1Zm-10.8,5.866L22.816,33.18a.9.9,0,0,0-.1.091.382.382,0,0,0-.035.032c-.02.021-.037.042-.055.065s-.03.045-.045.068a.934.934,0,0,0-.086.173c0,.012-.012.021-.016.033s0,.006-.006.009l-2.564,8.213L17.882,30.753ZM21.359,43.633,23.9,35.358l3.957,2.536,1.132.725-3.845,2.526ZM48.525,13.217,16.849,29.209,3.665,22.355ZM41.546,44.469l-14.363-9.2-2.175-1.394L53.122,13.5Z"
                    transform="translate(0 -10.035)"
                />
            </svg>
        </div>
        <div class="nw-pt-1 nw-text-lg nw-font-bold nw-text-center nw-text-black">
            {{newsletter}}
        </div>
        <div class="nw-text-base nw-text-center nw-text-black nw-pb-2">
            {{caption}}
        </div>
        <div class="sm:nw-inline-block nw-block sm:nw-flex">
            <label for="email-address" class="nw-sr-only">{{email.label}}</label>
            <input
                type="email"
                name="email-address"
                id="email-address"
                autocomplete="email"
                required
                class="
          nw-appearance-none
          nw-min-w-0
          nw-w-full
          nw-bg-white
          nw-border
          nw-nw-border-transparent
          nw-rounded-md
          sm:nw-rounded-none
          nw-rounded-l-md
          sm:nw-rounded-l-md
          nw-py-1 nw-px-2 nw-text-base nw-text-black nw-placeholder-gray-200   nw-mb-2
          sm:nw-mb-0
        "
                placeholder="{{email.placeholder}}"
            />

            <button
                type="submit"
                class="

          nw-w-full
          sm:nw-w-1/2
          nw-bg-red-0 nw-border nw-border-transparent nw-rounded-md
          sm:nw-rounded-none
          nw-rounded-r-md
          sm:nw-rounded-r-md
          nw-py-1
          nw-px-4
          nw-flex
          nw-items-center
          nw-justify-center
          nw-text-base
          nw-font-medium
          nw-text-white
          hover:nw-bg-red-100
          focus:nw-outline-none
          focus:nw-ring-2
          focus:nw-ring-offset-2
          focus:nw-ring-offset-gray-600
          focus:nw-ring-indigo-500
        "
            >
                {{label}}
            </button>
        </div>
        <div class="nw-text-black nw-text-xs nw-pt-3 nw-pb-1">
            Mit meiner Anmeldung zum Newsletter stimme ich der
            <a href="" class="nw-text-custom-slate-0"> Werbevereinbarung </a>
            zu.
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var submit = document.querySelector("button[type=submit]");
        submit.addEventListener("click", function (event) {
            event.preventDefault();
            var email = document.getElementById("email-address").value;
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState === XMLHttpRequest.DONE) {
                    if (request.status === 200) {
                        var response = request.responseText;
                        console.log(response);
                    } else {
                        console.log("An error occurred.");
                    }
                }
            };
            console.log(email);
        });
    });
</script>
