
    <div class="{{this.containerClass}}" style="background-color: {{this.bgColor}};">
      <svg class="{{this.class}}" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{this.path}}" />
      </svg>
      <a href="{{this.href}}" class="nw-text-gray-700 hover:nw-text-gray-900 nw-underline nw-text-sm">
        {{this.text}}
      </a>
    </div>

